<!-- category 试图 -->
<div class="category-container">
    <div class="category-wrapper swiper-container" style="position:sticky;top:0;">
        <div class="category-wrapper__content swiper-wrapper">
            <div class="category-wrapper__item swiper-slide category-wrapper__item--active">全部</div>
            <div class="category-wrapper__item swiper-slide">演唱会</div>
            <div class="category-wrapper__item swiper-slide">话剧歌剧</div>
            <div class="category-wrapper__item swiper-slide">音乐会</div>
            <div class="category-wrapper__item swiper-slide">曲苑杂坛</div>
            <div class="category-wrapper__item swiper-slide">舞蹈芭蕾</div>
            <div class="category-wrapper__item swiper-slide">体育比赛</div>
            <div class="category-wrapper__item swiper-slide">儿童亲子</div>
            <div class="category-wrapper__item swiper-slide">展览休闲</div>
            <div class="category-wrapper__item swiper-slide">动漫</div>
            <div class="category-wrapper__item swiper-slide"></div>
        </div>
    </div>
    <div class="factor">
        <ul class="factor-wapper">
            <li class="factor-wapper__item">
                <span>全国</span> 
                <i class="factor_icon iconfont icon-jiantouxia"></i>
            </li>
            <li class="factor-wapper__item">
                <span>推荐排序</span>
                <i class="factor_icon iconfont icon-jiantouxia"></i>
            </li>
            <li class="factor-wapper__item">
                <span>不限</span>
                <i class="factor_icon iconfont icon-jiantouxia"></i>
            </li>
        </ul>
        <div class="factor_select">
            <ul class="select-factor__wrap recommend">
                <li class="select-factor__item">
                    <span>最新上架</span>
                    <i class="iconfont"></i>
                </li>
                <li class="select-factor__item">
                    <span>时间最早</span>
                    <i class="iconfont"></i>
                </li>
                <li class="select-factor__item select-factor--selected">
                    <span>推荐排序</span>
                    <i class="iconfont icon-xuanzhong"></i>
                </li>
            </ul>
            <ul class="select-factor__wrap unlimited">
                <li class="select-factor__item select-factor--selected">
                    <span>不限</span>
                    <i class="iconfont icon-xuanzhong"></i>
                </li>
                <li class="select-factor__item">
                    <span>今天</span>
                    <i class="iconfont"></i>
                </li>
                <li class="select-factor__item select-factor_selected">
                    <span>明天</span>
                    <i class="iconfont"></i>
                </li>
                <li class="select-factor__item select-factor_selected">
                    <span>本周末</span>
                    <i class="iconfont"></i>
                </li>
                <li class="select-factor__item select-factor_selected">
                    <span>一月内</span>
                    <i class="iconfont"></i>
                </li>
                <li class="select-factor__item select-factor_selected">
                    <span>一周内</span>
                    <i class="iconfont"></i>
                </li>
            </ul>
            <div class="factor_mask"></div>
        </div>
    </div>
    <div class="category-main">
        
    </div>

    <div class="loading-cover">
        <i class="iconfont icon-loading loading"></i>
        <span>数据加载中</span> 
    </div>
</div>
    


