<!-- perform 视图 -->
<div class="main">
    
</div>

<div class="ticket-info-pop">
        <div class="container">
            <div class="ticket-info__title">票务说明</div>
            <div class="ticket-info__bd">
                <div class="ticket-info__bd__item">
                    <p class="ticket-info__bd__tip">
                        <i class="ticket-info__bd__icon iconfont  icon-duigou"></i>
                        <span>选座</span>
                    </p>
                    <pre class="ticket-info__bd__dec">
                        本项目支持自助选座。</br>
                        1. 选择演出时间，并点击“选座购买”进入选座页面。</br>
                        2. 选座后，在15分钟内支付成功，选座生效。</br>
                    </pre>
                </div>
            </div>
        </div>
</div>

<div class="project-promotion-pop">
    <h1 class="project-promotion-pop__title">
        优惠说明
    </h1>
    <div class="project-promotion-pop__bd">
        <div class="project-promotion-pop__bd__box">
            <span class="project-promotion-pop__tip">套票</span>
            <div class="project-promotion-pop__cont">
                <pre>
                    216元（原价180元*2）; 336元（原价280元*2）; 576元（原价480元*2）; 816元（原价680元*2）
                    </br></br></br>以上套票在不同场次可能会有价格浮动，请以下单时的价格明细为准
                </pre>
            </div>
        </div>
    </div>
</div>
    
<div class="cover"></div>