<!-- perform 视图 -->
<div class="main">
    <div class="perform__bd">
        <div class="pro-item">
            <div class="pro-item__blur">
                <div class="pro-item__blur__bg__default" style="background-image: url(https://pimg.dmcdn.cn/perform/project/1618/161832_n.jpg?_t=1535437142715?1539753631102&x-oss-process=image/resize,p_50);background-color: rgb(231, 231, 231);"></div>
            </div>
            <div class="pro-item__box">
                <img src="https://pimg.dmcdn.cn/perform/project/1618/161832_n.jpg?_t=1535437142715?1539753631102&x-oss-process=image/resize,p_50" alt="" class="pro-item__poster">
                <div class="pro-item__words">
                    <p class="pro-item__detail">开心麻花爆笑舞台剧《李茶的姑妈》</p>
                    <p class="pro-item__city">大连</p>
                    <p class="pro-item__price">
                        80-880<span class="pro-item__price_small">元</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="ticketinfo">
            <a href="#" class="mini-cell" style="border-top:none;">
                <div class="wapper">
                    <div class="wrapper__cont">
                        <div class="label">
                            <i class="iconfont icon-duigou"></i>
                            <span class="words">选座</span>
                        </div>
                    </div>
                    <div class="wrapper__words_box"></div>
                </div>
            </a>
        </div>
    </div>
</div>