<div class="home-container">
      <!-- 头部修改了 -->
    <div class="header" style="height:1.333333rem">
    </div>
    <div class="scroll-box-wrapper">
        <div class="scroll-box">
            <!--中部 -->
            <div class="body"></div>
            <!-- show 的控制 -->
            <div class="showcontrol__nav">
            </div>
            
            <!-- show的展示 -->
            <div class="show-wrapper"></div>
        </div>
    </div>
</div>
<!-- show的列表 -->
<div class="showcontroler-list"></div>


<div class="showcontrol__nav showcontrol__nav-clone ">
        <li>
                全部分类
                <i class="iconfont icon-jiantouxia"></i>
            </li>
            <li>
                全部时间
                <i class="iconfont icon-jiantouxia"></i>
            </li>
            <li class="active">
                推荐排序
            </li>
            <li class="loser">距离最近</li>
</div>

<!-- 回到顶部 -->
<i class="gotop iconfont icon-zhiding " style="font-size: 1.28rem"></i>