<!-- my 视图 -->
<div class="my" path="#/my">
    <div class="my-hd">
        <div class="my-hd__photo" style="background-image: url(http://gw.alicdn.com/tfs/TB1o4Bodr_I8KJjy1XaXXbsxpXa-150-150.png);"></div>
        <p class="my-hd__name">登录/注册</p>
    </div>
    <div class="my-list">
        <div class="my-bd">
            <div class="my-bd__order">
                <div class="mine__list cell cell-bottom-border" path="#/order">
                    <div class="title">
                        <div class="mine-cell__box">
                            <i class="iconfont icon-icon_order"></i>
                            <span>我的订单</span>
                        </div>
                    </div>
                    <div class="body">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                </div>
                <div class="mine__list cell cell-bottom-border" path="#/coupon">
                    <div class="title">
                        <div class="mine-cell__box">
                            <i class="iconfont icon-youhuiquan"></i>
                            <span>优惠券</span>
                        </div>
                    </div>
                    <div class="body">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                </div>
                <div class="mine__list cell" path="#/ticket">
                    <div class="title">
                        <div class="mine-cell__box">
                            <i class="iconfont icon-piaowu"></i>
                            <span>我的票</span>
                        </div>
                    </div>
                    <div class="body">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                </div>
            </div>
            <div class="my-bd__want" >
                <div class="mine__list cell" path="#/attention">
                    <div class="title">
                        <div class="mine-cell__box">
                            <i class="iconfont icon-ego-heart"></i>
                            <span>我的关注</span>
                        </div>
                    </div>
                    <div class="body">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                </div>
            </div>
            <div class="my-bd__want">
                <div class="mine__list cell cell-bottom-border" path="#/address">
                    <div class="title">
                        <div class="mine-cell__box">
                            <i class="iconfont icon-shouhuodizhi"></i>
                            <span>收货地址</span>
                        </div>
                    </div>
                    <div class="body">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                </div>
                <div class="mine__list cell cell-bottom-border" path="#/buyers">
                    <div class="title">
                        <div class="mine-cell__box">
                            <i class="iconfont icon-ren2"></i>
                            <span>常用购票人</span>
                        </div>
                    </div>
                    <div class="body">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                </div>
                <div class="mine__list cell cell-bottom-border" path="#/Certification">
                    <div class="title">
                        <div class="mine-cell__box">
                            <i class="iconfont icon-shimingrenzheng"></i>
                            <span>实名认证</span>
                        </div>
                    </div>
                    <div class="body">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                </div>
                <div class="mine__list cell" path="#/feedback">
                    <div class="title">
                        <div class="mine-cell__box">
                            <i class="iconfont icon-tiyijian"></i>
                            <span>意见反馈</span>
                        </div>
                    </div>
                    <div class="body">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="my-login-out" style="display:none">退出登录</div>
</div>