<div class="like">
    <div class="like-tab">
        <div class="like-tab-item" path='artist'>
           <span class="like-tab-active">艺人</span>
        </div>
        <div class="like-tab-item" >
            <span>项目</span>
        </div>
    </div>
    <div class="like-scroller-container" path='project'>
        <div class="like-null">
            <img src="//gw.alicdn.com/tfs/TB1cUEoagMPMeJjy1XbXXcwxVXa-242-188.png" alt="" class="like-null-img">
            <span>暂无收藏的艺人吆~</span>
        </div>
    </div>
</div>