<div class="main">
    <div class="dm-empty">
        <div class="dm-empty__box">
            <div class="dm-empty__img">
                <img class="dm-empty__img" src="//gw.alicdn.com/tfs/TB1.a__bMMPMeJjy1XbXXcwxVXa-179-139.png" alt="">
            </div>
            <div class="dm-empty__tips">
                <p>提前写好收货地址，</p>
                <p>购票永远快人一步~</p>
            </div>
        </div>
    </div>
    <div class="add-address__add">
        <div class="dm-button add-address-btn dm-button__primary dm-button__large">
            + 新增收货地址
        </div>
    </div>
</div>