<div class="audience">
    <div class="audience-scroller">

    </div>
    <div class="addAudience">
        <div class="dm-button dm-button__primary dm-button__large">
            <h2>+新增购票人</h2>
        </div>
    </div>
</div>
<div class="dm-popup add-holder dm-popup-right" style="display: none; z-index: 2000;">
    <div class="dm-field" style="border-bottom: 1px solid rgb(231, 231, 231);">
        <div class="dm-field__text">
            <span class="dm-field__title">
                姓名：
            </span>
        </div>
        <div class="dm-field__value">
            <div class="dm-input">
                <input type="text" placeholder="请填写购票人姓名">
                <button class="clear" style="display:none"></button>
            </div>
        </div>
    </div>
    <div class="dm-field" style="border-bottom: 1px solid rgb(231, 231, 231);">
        <div class="dm-field__text">
            <span class="dm-field__title">
                证件类型：
            </span>
        </div>
        <div class="dm-field__value">
            <div class="dm-select">
                    身份证
                    <i class="iconfont icon-youjiantou icon-right-arrow" style="transform: rotate(90deg);"></i>

            </div>
        </div>
    </div>
    <div class="dm-field" style="border-bottom: 1px solid rgb(231, 231, 231);">
        <div class="dm-field__text">
            <span class="dm-field__title">
                证件号码：
            </span>
        </div>
        <div class="dm-field__value">
            <div class="dm-input">
                <input type="text" placeholder="请填写证件号码">
                <button class="clear" style="display:none"></button>
            </div>
        </div>
    </div>
    <div class="add-holder__box">
        <div class="dm-button add-holder__btn dm-button__primary dm-button__large">
            <h2>确定</h2>
        </div>
    </div>
</div>
<div class="v-modal" style="z-index: 2001;display: none;"></div>
<div class="dm-popup dm-select-popup dm-popup-bottom" style="display: none; z-index: 2002;">
    <div class="dm-select-popup__hd">选择证件类型</div>
    <div class="dm-select-popup__wp">
        <div class="dm-select-popup__item selected">
            <h2>身份证</h2>
            <div class="dm-select-popup__item__icon" >
                <i class="iconfont icon-youjiantou icon-right-arrow" ></i>
            </div>
        </div>
    </div>
    <div class="dm-select-popup__wp">
        <div class="dm-select-popup__item selected">
            <h2>学生证</h2>
            <div class="dm-select-popup__item__icon" style="display: none;">
                <i class="iconfont icon-youjiantou icon-right-arrow" style="transform: rotate(90deg);"></i>
            </div>
        </div>
    </div>
    <div class="dm-select-popup__wp">
        <div class="dm-select-popup__item selected">
            <h2>军官证</h2>
            <div class="dm-select-popup__item__icon" style="display: none;">
                <i class="iconfont icon-youjiantou icon-right-arrow" style="transform: rotate(90deg);"></i>
            </div>
        </div>
    </div>
    <div class="dm-select-popup__wp">
        <div class="dm-select-popup__item selected">
            <h2>护照</h2>
            <div class="dm-select-popup__item__icon" style="display: none;">
                <i class="iconfont icon-youjiantou icon-right-arrow" style="transform: rotate(90deg);"></i>
            </div>
        </div>
    </div>
    <div class="dm-select-popup__wp">
        <div class="dm-select-popup__item selected">
            <h2>港澳通行证</h2>
            <div class="dm-select-popup__item__icon" style="display: none;">
                <i class="iconfont icon-youjiantou icon-right-arrow" style="transform: rotate(90deg);"></i>
            </div>
        </div>
    </div>
    <div class="dm-select-popup__wp">
        <div class="dm-select-popup__item selected">
            <h2>台湾通行证</h2>
            <div class="dm-select-popup__item__icon" style="display: none;">
                <i class="iconfont icon-youjiantou icon-right-arrow" style="transform: rotate(90deg);"></i>
            </div>
        </div>
    </div>
</div>