<div class="coupon">
    <div class="coupon-null">
        <img src="//gw.alicdn.com/tfs/TB1cUEoagMPMeJjy1XbXXcwxVXa-242-188.png" alt="" class="coupon-null-img">
        <span class="coupon-null__words">无可用优惠券~</span>
    </div>
    <div class="add-coupon__box">
        <div class="dm-button add-coupon__btn dm-button__primary dm-button__large">
            添加优惠券
        </div>
    </div>
    <div class="dm-dialog coupon-add-dialog" style="display:none">
        <div class="dm-dialog__box">
            <div class="dm-dialog__hd">
                <span class="dm-dialog__hd__title">添加优惠券</span>
                <span class="dm-dialog__hd__close">X</span>
            </div>
            <div class="dm-dialog__bd">
                <input type="text" placeholder="请输入16位的优惠券验证码" class="add-coupon__input">
            </div>
            <div class="dm-dialog__ft">
                <div class="dm-dialog__confirm">
                    <span class="dm-dialog__ft__item dm-dialog__confirm_cancel">取消</span>
                    <span class="dm-dialog__ft__item dm-dialog__confirm_true">确定</span>
                </div>
            </div>
        </div>
    </div>
</div>