<div class="main">
    <div class="edit_cer_div">
        <div class="dm-field info" style="border-bottom: 1px solid rgb(231, 231, 231);">
            <div class="dm-field__text">
               <span class="dm-field__title">真实姓名</span>
            </div>
            <div class="dm-field__value">
                <div class="dm-input dm-input_left width_4">
                    <input type="text" placeholder="请填写真实姓名">
                    <button class="clear" style="display:none"></button>
                </div>
            </div>
        </div>
        <div class="dm-field info" style="border-bottom: 1px solid rgb(231, 231, 231);">
            <div class="dm-field__text">
               <span class="dm-field__title">证件类型</span>
            </div>
            <div class="dm-field__value">
                <div class="dm-input dm-input_left">
                    <span class="shenfenzehng"> 身份证</span>
                   
                </div>
            </div>
        </div>
        <div class="dm-field info" style="border-bottom: 1px solid rgb(231, 231, 231);">
            <div class="dm-field__text">
               <span class="dm-field__title">证件号码</span>
            </div>
            <div class="dm-field__value">
                <div class="dm-input dm-input_left">
                    <input type="text" placeholder="请填写身份证号">
                    <button class="clear" style="display:none"></button>
                </div>
            </div>
        </div>
        <div class="dm-empty dm-empty__box">
            <div class="dm-empty__box">
                <div class="dm-empty__tips">
                    <span>实名认证成功后，身份信息不可修改。</span>
                </div>
            </div>
        </div>
        <div class="dm-button cer-btn dm-button__primary dm-button__large">
            立即认证
        </div>
        <div class="icon-tips">
            <img src="https://gw.alicdn.com/tfs/TB1RAVMEgmTBuNjy1XbXXaMrVXa-1125-369.png" alt="">
        </div>
    </div>
</div>
