<div class="feedback" >
    <div class="feedback-header">
        请选择您的反馈类型
    </div>
    <div class="feedback-item" >
        <div class="cell cell-bottom-border" data-spm="0">
            <div class="title">
                <span>【建议】功能吐槽或建议</span>

            </div>
            <div class="body">
                <i class="iconfont icon-youjiantou icon-right-arrow"></i>
            </div>
        </div>
        <div class="cell cell-bottom-border" data-spm="1">
            <div class="title">
                <span>【黄牛】举报入口 已处理224条</span>

            </div>
            <div class="body">
                <i class="iconfont icon-youjiantou icon-right-arrow"></i>
            </div>
        </div>
        <div class="cell cell-bottom-border" data-spm="2">
            <div class="title">
                <span>【购票、订单】问题</span>

            </div>
            <div class="body">
                <i class="iconfont icon-youjiantou icon-right-arrow"></i>
            </div>
        </div>
        <div class="cell cell-bottom-border" data-spm="3">
            <div class="title">
                <span>【换验票】问题</span>

            </div>
            <div class="body">
                <i class="iconfont icon-youjiantou icon-right-arrow"></i>
            </div>
        </div>
        <div class="cell cell-bottom-border" data-spm="4">
            <div class="title">
                <span>【显示、内容】错误</span>

            </div>
            <div class="body">
                <i class="iconfont icon-youjiantou icon-right-arrow"></i>
            </div>
        </div>
        <div class="cell cell-bottom-border" data-spm="5">
            <div class="title">
                <span>【其他】</span>

            </div>
            <div class="body">
                <i class="iconfont icon-youjiantou icon-right-arrow"></i>
            </div>
        </div>
        <div class="cell cell-bottom-border" data-spm="6">
            <div class="title">
                <span>【投诉】</span>

            </div>
            <div class="body">
                <i class="iconfont icon-youjiantou icon-right-arrow"></i>
            </div>
        </div>
    </div>
    <div class="feedback-bottom" id="submitBtn">
        <div class="dm-button dm-button__primary dm-button__large">我的反馈</div>
    </div>
</div>
<div class="feedbackAdd" style="display:none">
    <div class="feedbackAdd-main">
        <div class="feedbackAdd-main-item">
            <div class="feedbackAdd-main-item-title">选择问题类型</div>
            <div class="feedbackAdd-main-item-body">
                <div class="feedbackAdd-types-wrapper">
                    <div class="feedbackAdd-types-wrapper-item feedbackAdd-types-wrapper-item-choosen">
                        建议
                    </div>
                    <div class="feedbackAdd-types-wrapper-item ">
                        黄牛
                    </div>
                    <div class="feedbackAdd-types-wrapper-item ">
                        购票
                    </div>
                    <div class="feedbackAdd-types-wrapper-item ">
                        换票
                    </div>
                    <div class="feedbackAdd-types-wrapper-item ">
                        内容
                    </div>
                    <div class="feedbackAdd-types-wrapper-item ">
                        其他
                    </div>
                    <div class="feedbackAdd-types-wrapper-item ">
                        投诉
                    </div>
                </div>
            </div>
        </div>
        <div class="feedbackAdd-main-item">
            <div class="feedbackAdd-main-item-title">问题描述</div>
            <div class="feedbackAdd-main-item-body">
                <textarea placeholder="新加了好些功能哦，您觉得好不好用呢？" class="feedbackAdd-detail"></textarea>
            </div>
        </div>
        <div class="feedbackAdd-main-item">
            <div class="feedbackAdd-main-item-title">图片（选填）</div>
            <div class="feedbackAdd-main-item-body">
                <div class="feedbackAdd-img-upload" id="container" style="position: relative;">
                    <div class="checkStatus" class="feedbackAdd-img-add">
                        <span class="feedbackAdd-img-icon" id="addImg">+</span>
                    </div>
                    <div class="moxie-shim moxie-shim-html5" style="position: absolute; top: 0px; left: 0px; width: 257px; height: 257px; overflow: hidden;">
                        <input type="file" id="html3" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;">
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="feedbackAdd-bottom">
        <div class="dm-button dm-button__disable dm-button__large disabledBtn">
            <h2>提交</h2>
        </div>
    </div>
</div>
</div>