body,html{
    width: 100%;
    height: 100%;
}
#root{
    width: 100%;
    height: 100%;
}
.home-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.scroll-box-wrapper{
    flex-grow: 1; flex-shrink: 1;
    overflow: hidden;
}

.header {
    flex-grow: 0; flex-shrink: 0;
    width: 100%;
    height: 1.333333rem;
    font-size: .426667rem;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    z-index: 9999;
}
.header__location {
    margin: 0 .48rem;
    font-size: .42667rem;
    color: #222;

    i {
        font-size: .42667rem;
    }
}

.header__search {
    flex: 1;
    justify-content: left !important;
    padding-left: .48rem;
    height: .74667rem;
    border-radius: 1.33333rem;
    background: #fff;
    color: #888;
    font-size: .37333rem;
    display: flex;
    align-items: center;

    i {

        font-size: .4rem;
        ;
        margin-right: .24rem;
    }
}

.header__mine {
    font-size: .4rem;
    margin: 0 .48rem 0 .32rem;
    i{
        font-size: .666667rem;
    }
}


.slideshow {
    width: 100%;
    height: 3.36rem;
    img {
        width: 100%;
        height: 3.36rem;
    }
}

.menu {
    background: #fff;
    padding: .48rem 0 .24rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;

    .menu-item {
        display: block;
        width: 25%;
        margin-bottom: .4rem;
        text-align: center;

        span {
            width: .85333rem;
            height: .85333rem;
            margin: 0 auto;
            display: block;
            background-size: auto 100%;
            background-position: center;
            background-repeat: no-repeat;
        }

        p {
            padding-top: .08rem;
            font-size: .32rem;
            color: #222;
        }
    }
}

.instar {
    margin-top: .4rem;

    .instar__title {
        position: relative;
        height: .58667rem;
        font-weight: 700;
        padding-left: .48rem;
        font-size: .45333rem;
        color: #111;
        margin-bottom: .42667rem;
        text-align: left;

        span {
            position: absolute;
            font-size: .32rem;
            color: #999;
            right: .48rem;
            bottom: 0;

            i {
                font-size: .24rem;
                position: relative;
                top: -.04rem;
                margin-left: .10667rem;
            }
        }
    }
}

.artlist {
    position: relative;
    z-index: 1010;
    height: 2.77333rem;
    margin-left: .48rem;
}

.artlist__item {
    display: inline-block;
    box-sizing: border-box;
    height: 2.77333rem;
    width: 6.02667rem;
    margin-right: .13333rem;
    background: #f5f5f5;
    border-radius: .08rem;

    .artlist__item__img {
        float: left;
        width: 2.13333rem;
        height: 2.13333rem;
        margin: .32rem .24rem .32rem .32rem;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .artlist__item__info {
        float: left;
        width: 3.33333rem;
        text-align: left;

        .artist-main {
            .artist-name {
                display: inline-block;
                margin-top: .32rem;
                font-size: .42667rem;
                color: #111;
            }

            .artist-fans {
                font-size: .26667rem;
                color: #111;
                margin-left: .32rem;
            }
        }

        .artist-city {
            margin-top: .16rem;
            font-size: .32rem;
            color: #aaa;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .artist-fllow {
            margin-top: .37333rem;
            width: 1.28rem;
            height: .56rem;
            line-height: .56rem;
            font-size: .32rem;
            text-align: center;
            color: #fff;
            background-image: -webkit-linear-gradient(317deg, #ff66bc 6%, #ff1268 97%);
            background-image: linear-gradient(-227deg, #ff66bc 6%, #ff1268 97%);
            border-radius: 1.33333rem;
        }
    }
}


.showcontrol__title {
    font-weight: 700;
    padding-left: .48rem;
    margin-top: 1.2rem;
    font-size: .45333rem;
    color: #111;
}

.showcontrol__nav {
  
    display: flex;
    box-sizing: border-box;
    padding: 0 .18667rem;
    width: 100%;
    z-index: 1002;
    background: #fff;
    height: 1.38667rem;

    li {
        flex: 1;
        height: 1.38667rem;
        text-align: center;
        line-height: 1.38667rem;
        font-size: .37333rem;

        i {
            color: #ddd;
            font-size: .10667rem;
            vertical-align: middle;
            text-align: center;
            line-height: 1.38667rem;
        }
    }

    li.active {
        color: #ff1268;
    }
}
.showcontrol__nav-clone{
    position: fixed;
    top: 1.333333rem;
    left: 0;
    display: none;
}
.showcontrol__nav-clone-active{
    display: flex;
}


.showcontroler-list {
    position: fixed;
    top:2.68rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 3001;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    ul{ 
        z-index: 4001;
        background: #fff;
        max-height: 7.46667rem;
        overflow-y: auto;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        color: #111;
        border-top: 2px solid #e7e7e7;
        display: none;
         li {
            width: 100%;
            position: relative;
            height: 1.33333rem;
            line-height: 1.33333rem;
            font-size: .32rem;
            color: #111;
            border-bottom: 1px solid #e7e7e7;
            display: flex;
            justify-content: space-between;
            span{
                position: absolute;
                right: .42667rem;
                font-size: .18667rem;
                color: #ff1268;
                display: none; 
            }
        }
        li.active{
            color: #ff1268;
            span.active{
                display:block;
            }
        }
    }
    .layer{
        width: 100%;
        height: 800px;
        background: #000;
        opacity: .65;
        display: none;
    }
}

.show-wrapper {
    padding-top: .21333rem;

    .show-item {
        margin: 0 0 1.2rem .48rem;
        display: flex;
        position: relative;

        .item-img {
            img {
                width: 2.4rem;
                height: 3.2rem;
                border-radius: .08rem;
                border: 1px solid rgba(0, 0, 0, .06);
            }
        }

        .item-info {
            margin-left: .32rem;
            padding-bottom: 0;
            position: relative;
            flex: 1;

            .item-info__title {
                width: 6.32rem;
                font-size: .42667rem;
                color: #111;
                font-weight: 700;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                word-break: break-all;
            }

            .item-info__time {
                width: 6.32rem;
                font-size: .32rem;
                color: #aaa;
                padding-top: .16rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                word-break: break-all;
                letter-spacing: 0;
                -webkit-line-clamp: 1;
            }

            .item-info__promotion {
                .item-info__promotion__seat {
                    margin-top: .26667rem;
                    margin-right: .08rem;
                    padding: .01333rem .08rem .04rem;
                    font-size: .29333rem;
                    border-radius: .08rem .08rem .21333rem .08rem;
                    line-height: normal;
                    border: none;
                    display: inline-block;
                    box-sizing: border-box;
                    letter-spacing: .01333rem;
                    background: #eee !important;
                    color: #111 !important;
                }

                .item-info__promotion__package {
                    padding: .01333rem .08rem .04rem;
                    font-size: .29333rem;
                    color: #ff1268;
                    background: #fbe8ef;
                    border-radius: .08rem .08rem .21333rem .08rem;
                    line-height: normal;
                    border: none;
                    display: inline-block;
                    box-sizing: border-box;
                    letter-spacing: .01333rem;
                    margin-top: .26667rem;
                    margin-right: .08rem;
                }
            }

            .item-info__price {
                position: absolute;
                bottom: 0;
                width: 98%;
                margin-top: .26667rem;
                font-size: 0;

                .item-info__price-str {
                    font-size: .37333rem;
                    color: #ff1268;
                    display: inline-block;
                    box-sizing: border-box;
                    line-height: .42667rem;
                }
            }
        }
    }
}

.gotop{
    position: fixed;
    right: .48rem;
    bottom: .66667rem;
    text-align: center;
    font-size: 1.28rem;
    opacity: .4;
    display: none;
}
.gotop-active{
    display: block;
}

.loadmore{
    width: 100%;
    height: .8rem;
    text-align: center;
    font-size: .21333rem;
    line-height: .8rem;
    color: #aaa;
    position: relative;
    i{  
        display: block;
        font-size: .533333rem;
        animation: loadmore linear 3s infinite;
    }
}
@keyframes loadmore{
    from {
        transform: rotateX(0deg) rotateZ(0deg);
    }

    to {
        transform: rotateX(0deg) rotateZ(720deg);
    }
}